.text-area{
    min-height: 70px;
    width:70%;
    font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}
button{
    margin-right: 10px;
    display: inline-block;
      background: white;
      color: #364547;
      width: 30%;
      height:20%;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
}
button:hover{
    cursor:pointer
}
.postPage{
    background-color: #ffb037;
}
.post{
    margin:10px;
    width: 30%;     
    position: fixed;
    top:20%;
    float: left;
    border: black solid 1px;
    border-radius: 8px;
    padding: 10px;
}
.cards{
    width: 70%;
    float: right;
    margin-top: 50px;
}
.noPosts{
    font-size: 2em;
}
